.App {
   text-align: center;
   background-image:url("../img/il_fullxfull.1328676951_8uwy.webp");
   background-size: cover;
   background-position-y: 900px;
}

.colorLetra {
   color: rgb(247, 4, 4);
   padding-right: 20px;
   
}

.search {
   border-color: red;
   border-radius: 9px;
   padding: 4px;
   background-color: aquamarine;
}

.boton {
   color: aqua;
   background-color: brown;
   border-radius: 9px;
   padding: 6px;
}

.boton:hover {
   background-color:blueviolet
}

.tarjetas {
    display:flex;
    justify-content: center;
    text-align:center;
}

.botonCierre {
   background-color: aqua;
   border-radius: 5px;
   color:cornsilk
}

.botonCierre:hover {
   background-color: blue;
}

.barraNav {
   display: flex;
   justify-content: right;
   background-color: rgb(3, 139, 139);
   padding: 15px;
}